#banner 
    .banner_content
        %h1 File Cabinet
        %p Your Life's work. Organized , always.
        %button= link_to "Enter" , new_user_registration_path

#callouts
    .callout_inner
        .warapper
            .callout
                %h2 Organize
                %p A hierarchy exemplifies an arrangement with a leader who leads other individual members 
                of the organisation. This arrangement is often associated with basis that there are enough imagine
                a real pyramid, if there are not enough stone blocks to hold up the higher ones, gravity would
                irrevocably bring down the monumental structure. So one can imagine that if the leader does 
                not have the support of his subordinates, the entire structure will collapse. Hierarchies were 
                satirised in The Peter Principle (1969), a book that introduced hierarchiology 
                and the saying that "in a hierarchy every employee tends to rise to his level of incompetence.
#bottom_cta
    .warapper
        %h2 Go Ahead
        %br
        %button= link_to "Join Now" , new_user_registration_path